/*************************** APLICACIONES *******************************/

.casosUsoContainer {
    background-color: rgb(242, 242, 242);

    .startImgContainer {
        position: relative;
        height: 400px !important;
        width: 100%;
        background-color: rgb(242, 242, 242);

        img {
            height: 100%;
            width: 100%;
        }
    }

    .casosUsoTextContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .titleSuscription {
            font-family: 'MontserratExtraBold' !important;
            color: var(--acilColor);
        }

        .lineTitle {
            height: 1px;
            width: 80vw !important;
            border: 1px solid var(--acilColor) !important;
        }

        .containerSubtitle {
            position: relative;
            width: 55% !important;
            margin-top: 20px;

            .subtitle {
                font-family: 'MontserratRegular' !important;
                font-size: 1.2em !important;

            }
        }
    }

    .barraEspacio2 {
        margin-top: 25px;
        height: 10px;
        background: rgb(224, 91, 25);
        background: linear-gradient(145deg, rgba(224, 91, 25, 1) 0%, rgba(255, 118, 38, 1) 45%, rgba(255, 164, 0, 1) 100%);
    }
}

.containerApps {
    .lineTitle {
        height: 1px;
        width: 80vw !important;
        border: 1px solid var(--acilColor) !important;
        margin-top: 25px;
    }

    .appsContainer {
        position: relative;
        display: flex;
        height: 100px;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        gap: 7px;

        .app {
            position: relative;
            height: 100%;
            width: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: .3s ease-in-out;

            img {
                position: absolute;
                height: 75px;
                width: 75px;
                filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.15));
                top: 0;
            }

            .apps1 {
                color: var(--acilColor);
                font-family: 'MontserratBold' !important;
                font-size: .5em !important;
                margin-top: 80px;
            }

            .apps2 {
                color: rgb(245, 162, 20);
                font-family: 'MontserratBold' !important;
                font-size: .5em !important;
                margin-top: 80px;
            }

            &:hover {
                transform: translateY(-3px);
                transition: .3s ease-in-out;
                filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
            }
        }
    }

    .barraEspacio3 {
        margin-top: 40px;
        height: 20px;
        background: rgb(224, 91, 25);
        background: linear-gradient(145deg, rgba(224, 91, 25, 1) 0%, rgba(255, 118, 38, 1) 45%, rgba(255, 164, 0, 1) 100%);
    }
}

.edificiosContainerMain {
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(242, 242, 242);

    .edificiosContainer {
        position: relative;
        height: 350px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 40px;
        background-color: rgb(242, 242, 242);

        .column1 {
            position: relative;
            height: 100%;
            width: 20%;
            overflow: hidden;
            background-image: url(../images/aplicaciones/Casos\ de\ uso\ 1.svg);
            background-size: cover;

            .flecha {
                position: absolute;
                height: 100%;
                right: 5px;
                width: 50px;
            }
        }

        .column2 {
            position: relative;
            height: 100%;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                position: absolute;
                top: 0;
                font-family: 'MontserratExtraBold' !important;
                color: var(--acilColor);
                font-size: 1.5em;
            }

            .edificioImgContainer {
                position: relative;
                display: flex;
                justify-content: end;
                align-items: end;
                height: 100%;
                width: 500px;

                .edificio {
                    position: relative;
                    height: 100%;
                }

                .camarasDepa {
                    position: absolute;
                    top: 15%;
                    right: 16%;
                    height: 30px;
                    transition: .3s ease-in-out;

                    &:hover {
                        scale: 1.5;
                        transition: .3s ease-in-out;
                    }
                }

                .alarmasDepa {
                    position: absolute;
                    top: 28%;
                    right: 50%;
                    height: 30px;
                    transition: .3s ease-in-out;

                    &:hover {
                        scale: 1.5;
                        transition: .3s ease-in-out;
                    }
                }

                .cerraduraDepa {
                    position: absolute;
                    top: 68%;
                    right: 30%;
                    height: 30px;
                    transition: .3s ease-in-out;

                    &:hover {
                        scale: 1.5;
                        transition: .3s ease-in-out;
                    }
                }

                .videoporteroDepa {
                    position: absolute;
                    top: 60%;
                    right: 18%;
                    height: 30px;
                    transition: .3s ease-in-out;

                    &:hover {
                        scale: 1.5;
                        transition: .3s ease-in-out;
                    }
                }

                .camaras2Depa {
                    position: absolute;
                    top: 45%;
                    right: 75%;
                    height: 30px;
                    transition: .3s ease-in-out;

                    &:hover {
                        scale: 1.5;
                        transition: .3s ease-in-out;
                    }
                }
            }
        }

        .column3 {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 30%;

            .cardApp {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 65%;
                border-radius: 20px;
                background-color: white;

                .title {
                    margin-top: 20px !important;
                    font-family: 'MontserratExtraBold' !important;
                    color: var(--acilColor);
                    font-size: 1.3em;
                }

                .imgCard {
                    width: 100%;
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;

                    img {
                        height: 65%;
                    }
                }

                .description {
                    padding: 10px 10px;

                    p {
                        font-family: 'MontserratBold' !important;
                        font-size: .65em;
                        color: gray;
                    }
                }
            }
        }

        .column4 {
            position: relative;
            height: 100%;
            width: 20%;
            overflow: hidden;
            background-image: url(../images/aplicaciones/Casos\ de\ uso\ 2.svg);
            background-size: cover;

            .flecha {
                position: absolute;
                height: 100%;
                left: 5px;
                width: 50px;
            }
        }
    }

    .selectsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100%;
        margin-bottom: 25px;
        gap: 6px;

        .selectHex {
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
            background: rgb(245, 162, 20);
            width: 14px;
            height: 16px;
            rotate: 90deg;
            transition: .3s ease-in-out;

            &:hover {
                background-color: var(--acilColor);
                transition: .3s ease-in-out;
            }
        }
    }

    .barraEspacio3 {
        height: 20px;
        background: rgb(224, 91, 25);
        background: linear-gradient(145deg, rgba(224, 91, 25, 1) 0%, rgba(255, 118, 38, 1) 45%, rgba(255, 164, 0, 1) 100%);
    }
}

.etiquetasContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 25px;

    .etiqueta1 {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 275px;

        .etiqueta1Container {
            position: relative;
            height: 100%;

            img {
                height: 100%;
            }

            .title1 {
                position: absolute;
                color: rgb(255, 255, 255);
                font-family: 'MontserratBold' !important;
                font-size: 1.8em;
                top: 5%;
                right: 30%;
            }

            .etiquetaTextContainer {
                position: absolute;
                top: 36%;
                right: 12.5%;
                width: 42.5%;

                p {
                    color: rgb(255, 255, 255);
                    font-family: 'MontserratRegular' !important;
                    font-size: 1.03em;
                }
            }

            .etiquetaBtn {
                position: absolute;
                top: 35%;
                right: 2.5%;
                height: 80px;
            }
        }
    }

    .etiqueta2 {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 275px;

        .etiqueta2Container {
            position: relative;
            height: 100%;

            img {
                height: 100%;
            }

            .title2 {
                position: absolute;
                color: rgb(255, 255, 255);
                font-family: 'MontserratBold' !important;
                font-size: 1.8em;
                top: 5%;
                left: 25%;
            }

            .etiquetaTextContainer2 {
                position: absolute;
                top: 36%;
                left: 14%;
                width: 42.5%;

                p {
                    color: rgb(255, 255, 255);
                    font-family: 'MontserratRegular' !important;
                    font-size: 1.03em;
                }
            }

            .etiquetaBtn2 {
                position: absolute;
                top: 35%;
                left: 2.5%;
                height: 80px;
                rotate: 180deg;
            }
        }
    }

    .etiqueta3 {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 275px;

        .etiqueta3Container {
            position: relative;
            height: 100%;

            img {
                height: 100%;
            }

            .title3 {
                position: absolute;
                color: rgb(255, 255, 255);
                font-family: 'MontserratBold' !important;
                font-size: 1.8em;
                top: 5%;
                right: 12.5%;
            }

            .etiquetaTextContainer3 {
                position: absolute;
                top: 36%;
                right: 14%;
                width: 42.5%;

                p {
                    color: rgb(255, 255, 255);
                    font-family: 'MontserratRegular' !important;
                    font-size: 1.03em;
                }
            }

            .etiquetaBtn3 {
                position: absolute;
                top: 35%;
                right: 2.5%;
                height: 80px;
            }
        }
    }

    .barraEspacio {
        width: 80%;
        height: 8px;
        background: rgb(224, 91, 25);
        background: linear-gradient(145deg, rgba(224, 91, 25, 1) 0%, rgba(255, 118, 38, 1) 45%, rgba(255, 164, 0, 1) 100%);
        margin-top: 40px;
        margin-bottom: 60px;
    }
}

/*************************** APLICACIONES *******************************/