:root {
    --acilColor:#E25B19;
    --acilSecundario:rgb(240, 171, 14);
    --sombra:rgb(104, 104, 104);
    --acilSecundario2:#2B3A46;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
}

/************************** FUENTES *******************************/

@font-face {
    font-family: 'MontserratExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
         url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype'),
         url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratMedium';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype'),
         url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**********************  NAVEGACIÓN  HEADER *********************************/

header{
    border-bottom: 1px solid rgba(104,104,104,0.1);
    box-shadow: 5px 5px 15px rgba(104,104,104,0.15);
}

.logoContainer{
    width: 25vw !important;
    display: flex;
    justify-content: end !important;
    align-items: center;
}

.logo{
    width: 9em;
}

.itemsListNav{
    width: 50vw !important;
}

.marginItemList{
    border-bottom: 1px solid rgb(255, 255, 255) !important;
    transition: .3s ease-in-out;
   &:hover{
    border-bottom: 1px solid var(--acilSecundario) !important;
    transition: .3s ease-in-out;
   }
}

.itemList{
    font-family: 'MontserratBold' !important;
    font-size: 1em !important;
    color: var(--acilColor) !important;
    transition: .3s ease-in-out;
    &:hover{
        color: var(--acilSecundario2) !important;
        transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
}

.btnPortalContainer{
    box-shadow: 5px 5px 10px white;
    width: 25vw !important;
}

.btnPortal{
    border: 1px solid var(--acilColor);
    font-family: 'MontserratBold' !important;
    color: var(--acilColor);
    padding: 7px 10px;
    border-radius: 15px !important;
    background-color: white;
    transition: .3s ease-in-out;
    &:hover{
       color: var(--acilSecundario2) !important;
       transition: .3s ease-in-out;
    }
}

@media (max-width:990px) {
    .btnPortalContainer{
        margin-left: 30px !important;
    }

    .marginItemList{
        position: relative !important;
        margin-left: 30px !important;
        &:hover{
            border-bottom: 1px solid rgb(255, 255, 255) !important;
            transition: .3s ease-in-out;
           }
    }
}

@media (max-width:768px) {
    .btnPortalContainer{
        width: 60vw !important;
        margin-top: 10px !important;
        margin-left: 10px !important;
    }

    .marginItemList{
        position: relative !important;
        margin-left: 10px !important;
    }
}
  
@media (max-width:480px) {
    .btnPortalContainer{
        width: 50vw !important;
        margin-top: 10px !important;
        margin-left: 0px !important;
    }

    .itemList{
        font-size: .95em !important;
    }

    .marginItemList{
        position: relative !important;
        margin-left: 5px !important;
    }
}

/**********************  NAVEGACIÓN  HEADER *********************************/






/*************************** INDEX *******************************/
/*************************** CAROUSEL *******************************/

.carousel, .carousel-inner, .carousel-item{
    min-height: auto; 
    box-shadow: -5px -5px 15px #2b3a4619;
}

.carousel-item img{
    width: 100%;
    height: auto !important; 
    object-fit: cover; 
}

.titleContainer{
    width: 100vw !important;
    position:absolute !important;
    z-index: 1000 !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px !important;
}

.title{
    font-family: 'MontserratBold' !important;
    color: white;
    font-size: 1.9em;
    text-shadow: 0 0 5px #ffffff7d, 0 0 10px #ffffff57;
}

.containerSubTitle{
    position: relative;
    width: 80% !important;
}

.subTitle{
    font-family: 'MontserratRegular' !important;
    color: white;
    font-size: 1.3em;
}

.imgCarousel{
    object-fit: cover;
}

@media (max-width:1250px) {
    .carousel, .carousel-inner, .carousel-item{
        min-height: 70vh; 
    }
    
    .carousel-item img{
        height: 70vh !important; 
    }

    .titleContainer{
        margin-top: 20px !important;
    }

    .title{
        font-size: 1.8em;
    }

    .containerSubTitle{
        width: 95% !important;
    }

    .subTitle{
        font-size: 1.3em;
    }
}

@media (max-width:800px) {

    .titleContainer{
        margin-top: 20px !important;
    }

    .title{
        font-size: 1.65em;
    }

    .containerSubTitle{
        width: 90% !important;
    }

    .subTitle{
        font-size: 1.2em;
    }
}

@media (max-width:600px) {

    .title{
        font-size: 1.425em;
    }

    .containerSubTitle{
        width: 90% !important;
    }

    .subTitle{
        font-size: 1.1em;
    }
}

@media (max-width:480px) {
    .title{
        font-size: 1.14em;
    }

    .containerSubTitle{
        width: 95% !important;
    }

    .subTitle{
        font-family: 'MontserratRegular' !important;
        color: white;
        font-size: 1em;
    }
}

/************************** MARQUEE DE CLIENTES *************************/

.marquee-container{
    height: 80px !important;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-image: url(../images/Barra\ Frase.svg);
    box-shadow: 5px 5px 15px #2b3a4658;
    border-bottom: 1px solid var(--acilSecundario);
    z-index: 3000;
    .imgMarquee{
        margin-top: 20px !important;
        height: 40px !important;
        filter: drop-shadow(2px 2px 3px rgba(255, 255, 255, 0.2));
    }
}


/************************* TEXTO DE INSTALACIÓN *************************/

.textInstalacion{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100% !important;
    height: 36vh !important;
    h3{
        font-family: 'MontserratRegular' !important;
        color: var(--acilColor);
    }
}

@media (max-width:675px) {
    .textInstalacion{
        width: 95% !important;
        height: 25vh !important;
        h3{
           font-size: 1.1em;
        }
    }
}

/**************************** BENEFICIOS *********************************/

.beneficios{
    position: relative !important;
    height: 80px !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--acilColor);
    box-shadow: 5px 5px 15px #2b3a4658;
    h4{
        margin-top: 15px !important;
        font-family: 'MontserratBold' !important;
        color: white;
        font-size: 1.7em;
    }
}

.imgAcilTotalContainer{
    img{
        height: 275px;
    }
}

.beneficios1, .beneficios2{
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;

    .beneficioContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 225px;
        height: 225px;

        .imgBeneficios{
            position: absolute !important;
            top: 10px !important;
            height: 100px !important;
            filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.85));
            transition: .3s ease-in-out;
            
            &:hover{
                transform: translateY(-3px);
                transition: .3s ease-in-out;
                filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
            }
        }

        .information{
            position: absolute !important;
            top: 110px !important;
            h5{
                font-family: 'MontserratExtraBold' !important;
                color: var(--acilColor);
                font-size: 1em;
            }
            h6{
                margin-top: -8px !important;
                font-family: 'MontserratBold' !important;
                color: var(--acilSecundario);
                font-size: .7em;
            }
            .garantiaText{
                margin-top: 19px !important;
            }
        }
    }
}

@media (max-width:480px) {
    .beneficios{
        h4{
            font-size: 1.5em;
        }
    }

    .beneficios1, .beneficios2{
    
        .beneficioContainer{
            width: 250px;
            height: 230px;
    
            .imgBeneficios{
                height: 95px !important;
            }
    
            .information{
                top: 100px !important;
                    h5{
                        font-size: 1.2em;
                    }
                    h6{
                        font-size: .85em;
                    }
                    .garantiaText{
                        margin-top: -7px !important;
                    }
            }
        }

        .soporte{
            margin-top: -15px;
        }

        .mantenimiento{
            margin-top: 20px;
        }
    }

    .imgAcilTotalContainer{
        img{
            height: 250px;
        }
    }
}

/************************* BARRA ESPACIO ********************************/
.barraEspacio{
    height: 25px;
    background-color: var(--acilColor);
    box-shadow: 5px 5px 15px #2b3a4658;
}

/************************* ¿POR QUÉ UNA SUSCRIPCIÓN? ********************************/

.containerSuscription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .titleSuscription{
        font-family: 'MontserratExtraBold' !important;
        color: var(--acilColor);
    }

    .lineTitle{
        height: 1px;
        width: 80vw !important;
        border: 1px solid var(--acilColor) !important;
    }

    .containerSubtitleSuscription{
        position: relative;
        width: 60vw;
        margin-top: 20px;

        .subtitleSuscription{
            font-family: 'MontserratMedium' !important;
            color: var(--acilSecundario2);
            font-size: 1.25em;
        }
    }
}

@media (max-width:480px) {
    .containerSuscription{
        .titleSuscription{
           font-size: 1.35em;
        }
        .containerSubtitleSuscription{
            width: 80vw;
            .subtitleSuscription{
                font-size: 1.1em;
            }
        }
    }
}

/************************* BARRA ESPACIO2 ********************************/
.barraEspacio2{
    margin-top: 25px;
    height: 10px;
    background-color: var(--acilColor);
}

/*************** PASOS PARA ADQUIRIR TU SUSCRIPCIÓN **********************/

.containerAddSuscription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(242, 242, 242);

    .titleSuscription{
        font-family: 'MontserratExtraBold' !important;
        color: var(--acilColor);
    }

    .lineTitle{
        height: 1px;
        width: 80vw !important;
        border: 1px solid var(--acilColor) !important;
    }

    .containerSteps{
        margin-top: 50px;

        .containerImg{
            img{
                width: 900px;
            }
        }

        .containerStep{
            .numStep{
                font-family: 'MontserratExtraBold' !important;
                font-size: 4em;
                color: var(--acilSecundario2);
            }
    
            .titleStep{
                font-family: 'MontserratExtraBold' !important;
                font-size: 1.25em;
                color: var(--acilSecundario2);
            }

            .informationStep{
                p:nth-child(1) {
                    font-family: 'MontserratBold' !important;
                    font-size: .75em;
                    color: var(--acilColor);
                    text-align: start;
                }
                
                p:nth-child(2) {
                    font-family: 'MontserratBold' !important;
                    font-size: .75em;
                    color: var(--acilColor);
                    text-align: start;
                }
                
                p:nth-child(3) {
                    font-family: 'MontserratMedium' !important;
                    font-size: .75em;
                    color: var(--acilColor);
                    text-align: start;
                }
                
            }
        }
        
    }
}

@media (max-width:480px) {
    .containerAddSuscription{
    
        .titleSuscription{
            font-size: 1.35em;
        }
    
        .containerSteps{
            margin-top: 50px;
    
            .containerImg{
                margin-top: -15px;
                img{
                    width: 1000px;
                }
                margin-bottom: 20px;
            }
    
            .containerStep{
                margin-top: -10px;
                .numStep{
                    font-size: 5em;
                }
        
                .titleStep{
                    font-size: 1.3em;
                }
    
                .informationStep{
                    p:nth-child(1) {
                        font-size: .9em;
                    }
                    
                    p:nth-child(2) {
                        font-size: .9em;
                    }
                    
                    p:nth-child(3) {
                        font-size: .9em;
                    } 
                }
            }  
        }
    }
}

/******** CARACTERÍSTICAS DE NUESTROS SISTEMAS DE SEGURIDAD **************/

.containerSystems{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .titleSuscription{
        font-family: 'MontserratExtraBold' !important;
        color: var(--acilColor);
    }

    .lineTitle{
        height: 1px;
        width: 80vw !important;
        border: 1px solid var(--acilColor) !important;
    }

    .containerImgSystems{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       .imgCaracteristicas{
            width: 400px;
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
                img{
                   height: 300px;
                }
       }
    }
}

/******** CASOS DE EXITO **************/

.containerCasosExito{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 90vw;

    .titleSuscription{
        font-family: 'MontserratExtraBold' !important;
        color: var(--acilColor);
    }

    marquee{
        height: 300px;
        img{
            height: 300px;
        }
    }
}

/******** COBERTURA NACIONAL **********/

.containerCoberturaNacional{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .titleSuscription{
        font-family: 'MontserratExtraBold' !important;
        color: var(--acilColor);
    }

    .lineTitle{
        height: 1px;
        width: 80vw !important;
        border: 1px solid var(--acilColor) !important;
    }

    .containerSucursales{
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0;

        div{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 325px;
               
            img{
                border-top: 5px solid var(--acilColor);
                border-bottom: 5px solid var(--acilColor);
                width: 100%; // Ajustado el ancho de la imagen
                max-width: 400px; // Agregado max-width
            }
    
            .textSucursal{
                position: relative;
                width: 100%;
                height: 100px;
                margin-top: 10px;
                h4{
                    position: absolute;
                    font-family: 'MontserratBold' !important;
                    color: var(--acilColor);
                    top: 5px;
                }
                span{
                    position: absolute;
                    font-family: 'MontserratBold' !important;
                    font-size: .85em;
                    top: 40px;
                }
            }
        }
    }

    .containerMap{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        img{
            height: 700px;
        }
    }
}

@media (max-width:768px) {
    .containerCoberturaNacional{
    
        .containerMap{
            margin-top: -120px !important;
        }
    }
}

@media (max-width:480px) {
    .containerCoberturaNacional{
    
        .titleSuscription{
            font-size: 1.35em;
        }
    
        .containerSucursales{
    
            div{
                width: 350px;
    
                img{
                    border-top: 0;
                    border-bottom: 0;
                    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.75);
                }
                .textSucursal{
                    h4{
                        font-size: 1.3em;
                    }
                    span{
                        position: absolute;
                        font-family: 'MontserratBold' !important;
                        font-size: .85em;
                        top: 40px;
                    }
                }
            }
        }
    
        .containerMap{
            margin-top: -175px !important;
        }
    }
}

/******** FOOTER **********/

.containerFooter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 310px;
    background-color: var(--acilColor);
    box-shadow: 5px 5px 15px #2b3a463a, -5px -5px 15px #2b3a463a;
    .column1{
        position: relative;
        width: 350px;
        height: 250px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        img{
            height: 85px;
            transition: .3s ease-in-out;
            &:hover{
                transform: translateY(-3px);
                transition: .3s ease-in-out;
                filter: drop-shadow(3px 3px 5px rgba(255, 255, 255, 0.2));
            }
        }
        .containerTextColumn1{
            padding: 0px 25px;
            p{
                margin-top: 20px;
                font-family: 'MontserratRegular' !important;
                color: white;
                font-size: .75em;
            }
        }
        
    }

    .column2{
        position: relative;
        width: 200px;
        height: 250px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        div{
            p{
                font-family: 'MontserratBold' !important;
                color: var(--acilSecundario);
                font-size: .85em;
            }

            .textColumn2{
                margin-top: -15px;
                a{
                    text-decoration: none !important;
                    span{
                        font-family: 'MontserratRegular' !important;
                        color: white;
                        font-size: .7em;
                        transition: .3s ease-in-out;
                        &:hover{
                            color: var(--acilSecundario);
                            transition: .3s ease-in-out;
                        }
                    }
                }
                
            }
           
        }
    }

    .column3{
        position: relative;
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        div{
            p{
                font-family: 'MontserratBold' !important;
                color: var(--acilSecundario);
                font-size: .85em;
            }

            .textColumn3{
                margin-top: -15px;
                a{
                    text-decoration: none !important;
                    span{
                        font-family: 'MontserratRegular' !important;
                        color: white;
                        font-size: .7em;
                        transition: .3s ease-in-out;
                        &:hover{
                            color: var(--acilSecundario);
                            transition: .3s ease-in-out;
                        }
                    }
                }
                
            }
           
        }
    }

    .column4{
        position: relative;
        width: 200px;
        height: 250px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        div{
            p{
                font-family: 'MontserratBold' !important;
                color: var(--acilSecundario);
                font-size: .85em;
            }
            div{
                margin-top: -15px !important;
                span{
                    font-family: 'MontserratRegular' !important;
                    color: white;
                    font-size: .7em;
                    transition: .3s ease-in-out;
                    &:hover{
                        color: var(--acilSecundario);
                        transition: .3s ease-in-out;
                    }
                }
            }
            
        }

        .containerImgApp{
            margin-top: 30px !important;
            img{
                height: 100px;
            }
        }

        .containerRedes{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
            margin-top: 50px;
            img{
                height: 25px;
                transition: .3s ease-in-out;
                &:hover{
                    transform: translateY(-3px);
                    transition: .3s ease-in-out;
                    filter: drop-shadow(3px 3px 5px rgba(255, 255, 255, 0.2));
                }
            }
        }
}
}

@media (max-width:1050px) {
    .containerFooter{
        height: 600px;
    
        .column2{
            margin-top:20px;
        }
    }
}

@media (max-width:600px) {
    .containerFooter{
        margin-top: -100px;
        height: 800px;

        .column1{
            margin-top: 30px;
        }
    
        .column2{
            margin-top: -10px;
            width: 200px;
        }

        .column3{
            margin-top: -30px;
            width: 200px;
        }

        .column4{
            margin-top: -30px;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width:480px) {
    .containerFooter{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px;
        width: 100%;
        height: 800px;
        background-color: var(--acilColor);
        box-shadow: 5px 5px 15px #2b3a463a, -5px -5px 15px #2b3a463a;
        .column1{
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            margin-top: -25px;
            img{
                margin-left: 20px;
                height: 85px;
                transition: .3s ease-in-out;
                &:hover{
                    transform: translateY(-3px);
                    transition: .3s ease-in-out;
                    filter: drop-shadow(3px 3px 5px rgba(255, 255, 255, 0.2));
                }
            }
            .containerTextColumn1{
                padding: 0px 25px;
                p{
                    margin-top: 20px;
                    font-family: 'MontserratRegular' !important;
                    color: white;
                    font-size: .8em;
                }
            }
            
        }
    
        .column2{
            margin-top: -90px;
            position: relative;
            width: 45%;
            height: 225px;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            div{
                p{
                    font-family: 'MontserratBold' !important;
                    color: var(--acilSecundario);
                    font-size: .85em;
                }
    
                .textColumn2{
                    margin-top: -15px;
                    span{
                        font-family: 'MontserratRegular' !important;
                        color: white;
                        font-size: .75em;
                        transition: .3s ease-in-out;
                        &:hover{
                            color: var(--acilSecundario);
                            transition: .3s ease-in-out;
                        }
                    }
                }
               
            }
        }
    
        .column3{
            position: relative;
            width: 45%;
            height: 225px;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            margin-top: -90px;
            div{
                p{
                    font-family: 'MontserratBold' !important;
                    color: var(--acilSecundario);
                    font-size: .85em;
                }
    
                .textColumn3{
                    margin-top: -15px;
                    span{
                        font-family: 'MontserratRegular' !important;
                        color: white;
                        font-size: .75em;
                        transition: .3s ease-in-out;
                        &:hover{
                            color: var(--acilSecundario);
                            transition: .3s ease-in-out;
                        }
                    }
                }
               
            }
        }
    
        .column4{
            position: relative;
            width: 100%;
            height: auto;
            margin-top: -120px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            div{
                text-align: start;
                p{
                    
                    font-family: 'MontserratBold' !important;
                    color: var(--acilSecundario);
                    font-size: .85em;
                }
                div{
                    margin-top: -15px !important;
                    span{
                        font-family: 'MontserratRegular' !important;
                        color: white;
                        font-size: .75em;
                        transition: .3s ease-in-out;
                        &:hover{
                            color: var(--acilSecundario);
                            transition: .3s ease-in-out;
                        }
                    }
                }
            }
    
            .containerImgApp{
                margin-top: 10px;
                margin-left: -15px;
                img{
                    height: 125px;
                }
            }
    
            .containerRedes{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                margin-top: 25px;
                img{
                    height: 30px;
                    transition: .3s ease-in-out;
                    &:hover{
                        transform: translateY(-3px);
                        transition: .3s ease-in-out;
                        filter: drop-shadow(3px 3px 5px rgba(255, 255, 255, 0.2));
                    }
                }
            }
        }
    }
}

/******** BOTON CALL TO ACTION **********/
@keyframes shadowPulse {
    0% {
        filter: drop-shadow(2px 2px 3px rgba(67, 65, 65, 0.3));
    }
    50% {
        filter: drop-shadow(4px 4px 6px rgba(67, 65, 65, 0.6));
    }
    100% {
        filter: drop-shadow(2px 2px 3px rgba(67, 65, 65, 0.3));
    }
}

.callToAction {
    position: fixed;
    bottom: -20px; /* Ajusta según necesites */
    right: 10px; /* Ajusta según necesites */
    height: 100px;
    z-index: 0;
    img{
        width: 250px;
        animation: shadowPulse 3s infinite;
    }
}

@media (max-width:480px) {
    .callToAction {
       
        bottom: 0px; /* Ajusta según necesites */
        right: 10px; /* Ajusta según necesites */
        height: 100px;
       
        img{
            width: 250px;
            filter: drop-shadow(2px 2px 3px rgba(67, 65, 65, 0.5));
        }
    }
}
/*************************** INDEX *******************************/



/*************************** LEGAL *******************************/

.containerLegales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .lineTitleInicio{
        height: 3px;
        width: 100% !important;
    }

    .titleSuscription{
        font-family: 'MontserratExtraBold' !important;
        color: var(--acilColor);
    }

    .lineTitle{
        height: 1px;
        width: 80vw !important;
        border: 1px solid var(--acilColor) !important;
    }

    .containerItems{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        height: 500px;
       a{
        .item{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s ease-in-out;

            .textItem{
                position: absolute;
                top: 50px;
                font-family: 'MontserratExtraBold' !important;
                color: var(--acilColor);
                font-size: 1.6em;
            }

            .hexagono{
                position: relative;
                height: 225px;
                filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0));
            }

            .btnHexagono{
               position: absolute;
               bottom: 20px;
               height: 4.5em;
            }

            &:hover{
                filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25));
                transform: translateY(-3px);
                transition: .3s ease-in-out;
            }
        }
       }
    }

    .lineTitle2{
        height: 8px;
        width: 80vw !important;
        background-color: var(--acilColor);
        border: 1px solid var(--acilColor) !important;
    }
}

/*************************** LEGAL *******************************/

/*************************** AVISO DE PRIVACIDAD *******************************/

.containerAviso{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .lineTitleInicio{
        height: 1px;
        width: 100% !important;
    }

    .titleSuscription{
        font-family: 'MontserratExtraBold' !important;
        color: var(--acilColor);
    }

    .lineTitle{
        height: 1px;
        width: 80vw !important;
        border: 1px solid var(--acilColor) !important;
    }

    .avisoText{
        width: 70%;
        display: flex;
        justify-content: start;
        align-items: start;
        
        span{
            display: flex;
            justify-content: start;
            align-items: start;
            font-size: .85em;
            font-family: 'MontserratRegular';
        }
    }

    .lineTitle2{
        height: 8px;
        width: 80vw !important;
        background-color: var(--acilColor);
        border: 1px solid var(--acilColor) !important;
    }


}

/*************************** AVISO DE PRIVACIDAD *******************************/
































